<%- include('../header.ejs') %>

<%- include('../navigation.ejs', { title: "Overview" }) %>

<div class="content">
    <h2>Welcome <%= username %> !</h2>
    <a class="add-profile btn" href="/profile/<%= username %>/new">Add a birthday</a>

    <div class="birthday-list">
        <% birthdayList.forEach(item=> { %>
            <div class="birthday-item">
                <a href="/profile/<%= item._id %>/show">
                    <% if ( item.gender == "Male" ) { %>
                        <img src="/images/boy.png" alt="" />
                    <% } else { %>
                        <img src="/images/girl.png" alt="" />
                    <% } %>
                    <p><%= item.name %>'s birthday</p>
                </a>
            </div>
        <% }); %>
    </div>
</div>

<%- include('../footer.ejs') %>