<%- include('../header.ejs') %>

<h1>
    <img src="/images/balloons.png" width="50" valign="middle">Bimemo
</h1>

<div class="profile">
    <h2 id="prohead">Profile</h2>
    <a href="/logout">
        <button>Logout</button>
    </a>
</div>

<hr>

<div class="boxPro">
    <p><strong>Welcome <%= username %> !</strong></p>
    <button id="bdaybut"><a id="bdayadd" href="/profile/<%= username %>/addnew">Add a birthday</a></button>

    <p>

        <% birthdayList.forEach(item=> { %>
            <a href="/profile/<%= item._id %>/details"><strong>
                    <%= item.name %>
                </strong></a>
            <% }); %>

    </p>
</div>


<%- include('../footer.ejs') %>