<h1>Edit</h1>
<p>Make sure the birthday details are all up to date!</p>
<form method="POST" action="/profile/<%= currentBirthday.id%>/edit">
    <label>Name <input name="name" type="text" value="<%= currentBirthday.name %> "></label>
    <label>Date <input name="birthday" type="date" value="<%= currentBirthday.birthday %>"></label>
    <label for="relationship" value="<%= currentBirthday.relationship %>">Relationship<label>
            <select id="relationship" name="relationship">
                <option>Spouse</option>
                <option>Parent</option>
                <option>Friend</option>
                <option>Relative</option>
                <option>Co-worker</option>
                <option>Manager/boss</option>
                <option>Sibling</option>
                <option>Acquaintances</option>
            </select>
            <label for="gender" value="<%= currentBirthday.gender %>">Gender </label>
            <select id="gender" name="gender">
                <option>Female</option>
                <option>Male</option>
                <option>Neutral</option>
            </select>
            <label>Note <input name="note" type="text" value="<%= currentBirthday.note %>"></label>
            <button type="submit">Save changes</button>
</form>